@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource/abeezee';
@import '@fontsource-variable/fraunces';

@font-face {
  font-family: 'Menco';
  src: url('/font/menco-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Venice';
  src: url('/font/venice-blvd-bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9861 0.0034 67.78);
  --foreground: oklch(0.2167 0.0015 197.0424);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2167 0.0015 197.0424);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2167 0.0015 197.0424);
  --primary: oklch(0.8546 0.1662 86.2112);
  --primary-foreground: oklch(0.2442 0.0064 0.5936);
  --secondary: oklch(0.2442 0.0064 0.5936);
  --secondary-foreground: oklch(0.9861 0.0034 67.7838);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.9863 0.0314 103.0686);
  --accent-foreground: oklch(0.2442 0.0064 0.5936);
  --destructive: oklch(0.5552 0.266 320.3188);
  --border: oklch(0.9219 0 0);
  --input: oklch(0.9219 0 0);
  --ring: oklch(0.709 0 0);
  --chart-1: oklch(0.9207 0.1243 162.336);
  --chart-2: oklch(0.8661 0.1767 162.0997);
  --chart-3: oklch(0.8462 0.1723 164.9383);
  --chart-4: oklch(0.7903 0.1575 167.4405);
  --chart-5: oklch(0.6693 0.1229 172.4884);
  --radius: 1.375rem;
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2167 0.0015 197.0424);
  --sidebar-primary: oklch(0.2167 0.0015 197.0424);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2167 0.0015 197.0424);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.709 0 0);
  --destructive-foreground: oklch(1 0 0);
  --font-venice: 'Venice', ui-serif, Georgia;
  --font-sans: 'ABeeZee', ui-sans-serif, sans-serif, system-ui;
  --font-serif:
    'Fraunces Variable', ui-serif, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --font-display: 'Menco', ui-sans-serif, sans-serif, system-ui;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: -0.05em;
  --spacing: 0.35rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --tracking-normal: -0.05em;
  --main: #88aaee;
  --overlay: rgba(0, 0, 0, 0.8);
  --bg: #dfe5f2;
  --bw: #fff;
  --blank: #000;
  --text: #000;
  --mtext: #000;
  --ring-offset: #fff;
  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;
}

.dark {
  --background: oklch(0.2167 0.0015 197.0424);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2167 0.0015 197.0424);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.9219 0 0);
  --primary-foreground: oklch(0.2167 0.0015 197.0424);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.709 0 0);
  --accent: oklch(0.3715 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.7516 0.2509 326.9361);
  --border: oklch(0.2768 0 0);
  --input: oklch(0.325 0 0);
  --ring: oklch(0.5555 0 0);
  --chart-1: oklch(0.9207 0.1243 162.336);
  --chart-2: oklch(0.8661 0.1767 162.0997);
  --chart-3: oklch(0.8462 0.1723 164.9383);
  --chart-4: oklch(0.7903 0.1575 167.4405);
  --chart-5: oklch(0.6693 0.1229 172.4884);
  --sidebar: oklch(0.2167 0.0015 197.0424);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.8232 0.1625 169.075);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
  --destructive-foreground: oklch(0.9851 0 0);
  --radius: 1.375rem;
  --font-sans: 'ABeeZee', ui-sans-serif, sans-serif, system-ui;
  --font-serif:
    'Fraunces Variable', ui-serif, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --font-display: 'Menco', ui-sans-serif, sans-serif, system-ui;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: -0.05em;
  --spacing: 0.35rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --bg: #272933;
  --bw: #212121;
  --blank: #fff;
  --text: #e6e6e6;
  --mtext: #000;
  --ring-offset: #000;
}

@theme inline {
  --font-sans: 'ABeeZee', ui-sans-serif, sans-serif, system-ui;
  --font-display: 'Menco', ui-sans-serif, sans-serif, system-ui;
  --font-venice: 'Venice', ui-serif, Georgia;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-serif:
    'Fraunces Variable', ui-serif, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --radius: 1.375rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --animate-marquee: marquee var(--marquee-duration, 8s) linear infinite;
  --animate-marquee2: marquee2 var(--marquee-duration, 8s) linear infinite;
  --heading-font-weight: var(----heading-font-weight);
  --base-font-weight: var(----base-font-weight);
  --reverse-box-shadow-y: var(----reverse-box-shadow-y);
  --reverse-box-shadow-x: var(----reverse-box-shadow-x);
  --box-shadow-y: var(----box-shadow-y);
  --box-shadow-x: var(----box-shadow-x);
  --border-radius: var(----border-radius);
  --color-ring-offset: var(----ring-offset);
  --color-mtext: var(----mtext);
  --color-text: var(----text);
  --color-blank: var(----blank);
  --color-bw: var(----bw);
  --color-bg: var(----bg);
  --color-overlay: var(----overlay);
  --color-main: var(----main);
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    font-size: 1rem;
    line-height: 1.75rem;
  }
  html {
    @apply font-sans;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
